/** {
    padding: 0;
    margin: 0;
}*/

.container {
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
    min-width: 600px;
    background-color: #eee;
    border: 1px solid #999;
}

.left {
    float: left;
    padding: 20px;
    width: 160px;
    background-color: #fff;
    border: 1px solid #999;
}

.left img {
    float: left;
}

.left span {
    margin-left: 20px;
    font-size: 14px;
    /*text-align: center;*/
}

.right {
    padding: 10px;
    float: right;
    width: 100px;
    background-color: #fff;
    border: 1px solid #999;
}

.right img {
    margin: 10px;
}

.content {
    padding: 20px;
    margin: 0 142px 0 222px;
    background-color: #fff;
    border: 1px solid #999;
}
